*{
    margin:0;
    padding: 0;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #111;
}
/* Styles for custom scrollbar */
/* Track */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
    border-radius: 5px; /* Rounded corners of the scrollbar handle */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */
  }
  
  /* Track when scrollbar is not in use */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
  }
  
  /* Track when scrollbar is not in use */
  ::-webkit-scrollbar-track-piece {
    background: #f1f1f1; /* Color of the scrollbar track */
  }
  
  /* Corner */
  ::-webkit-scrollbar-corner {
    background: #f1f1f1; /* Color of the scrollbar corner */
  }
  